################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

# Build results
.vs/
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio for Mac files
.vscode/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Logs
*.log

